.box.card.profile
  .box-header
    = @profile.name + t("'s card")
  .box-body
    %p
      %b 
      = image_tag @profile.avatar.url(:small)
    %p
      %b= t :name
      = @profile.name
    %p
      %b= t :nickname
      = @profile.nickname
    %p
      %b= t :gender
      = @profile.gender
    %p
      %b= t :phone
      = @profile.phone
    %p
      %b= t :description
      = @profile.description
.clear
