.info
  .name= @profile.name
  .nickname= @profile.nickname
  .description= @profile.description
  .meta
    = t '.like', :count => @profile.user.follows.count
    = "|"
    = t '.fans', :count => @profile.user.fans.count
    = "|"
    = t '.groups', :count => @profile.user.groups.count
    = "|"
    = t '.activities', :count => @profile.user.activities.count
