.container
  = render 'share/header'
  .content
    .span-7.append-1
      = render :partial=>'users/user_box',:locals=>{:user=>@user}
      = render 'users/rank'
      = render 'users/favor'
    .box.detail.span-14
      .box-header
        = @profile.name + t("'s card")
      .box-body
        = render 'form'
    .clear
  = render 'share/footer'

