<h1>Listing profiles</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Nickname</th>
    <th>Gender</th>
    <th>Student</th>
    <th>Phone</th>
    <th>Points</th>
    <th>Description</th>
    <th>Avatar file name</th>
    <th>Avatar content type</th>
    <th>Avatar file size</th>
    <th>Avatar updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.user %></td>
    <td><%= profile.name %></td>
    <td><%= profile.nickname %></td>
    <td><%= profile.gender %></td>
    <td><%= profile.student_id %></td>
    <td><%= profile.phone %></td>
    <td><%= profile.points %></td>
    <td><%= profile.description %></td>
    <td><%= profile.avatar_file_name %></td>
    <td><%= profile.avatar_content_type %></td>
    <td><%= profile.avatar_file_size %></td>
    <td><%= profile.avatar_updated_at %></td>
    <td><%= link_to 'Show', profile %></td>
    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
    <td><%= link_to 'Destroy', profile, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Profile', new_profile_path %>
