.sign_logo
  = image_tag "logo.png"
.sign_in.box
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %div
      = f.label :email
      = f.email_field :email
    %div
      = f.label :password
      = f.password_field :password
    .options
      = f.check_box :remember_me
      = f.label :remember_me
      - if devise_mapping.recoverable? && controller_name != 'passwords'
        = link_to "Forgot your password?", new_password_path(resource_name)
    %div
      = f.submit "Sign in"
      = link_to "Sign up", new_registration_path(resource_name)

