#new-comment.row
  = form_tag(Comment.new, :remote=>true, :id => "new_comment") do 
    .buttons.span2
      %button.btn.btn-primary
        = t '.submit'
      %button.btn.btn-primary.mention-tag
        = t ".mention"
    .span5
      = text_area_tag "comment[body]", "",:placeholder => (t '.holder'),:class=>"autocompletable"
    = hidden_field_tag "comment[title]"
    = hidden_field_tag "comment[user_id]", current_user.id
    = hidden_field_tag "comment[commentable_type]", object.class.name
    = hidden_field_tag "comment[commentable_id]", object.id
= render :partial => 'share/comment', :collection => object.comments.recent
