%li.comment{:id=>"comment-#{comment.id}"}
  .span-2
    = image_tag comment.user.avatar
  .span-12.last
    .comment-title  
      = link_to comment.user.name, comment.user
      = " / #{l comment.created_at}"
    .comment-body
      = comment.body
  .clear