%ul
  %li#new-comment
    .avatar
      %span.hints
      = image_tag current_user.url
    .body
      = form_tag(Comment.new, :remote=>true, :id => "new_comment") do 
        .comment-buttons
          = submit_tag t('.submit')
          = submit_tag t(".mention"), :class=>"mention-tag"
        .textarea-wrapper= text_area_tag "comment[body]", "",:placeholder => (t '.holder'),:class=>"autocompletable"
        = hidden_field_tag "comment[title]"
        = hidden_field_tag "comment[user_id]", current_user.id
        = hidden_field_tag "comment[commentable_type]", object.class.name
        = hidden_field_tag "comment[commentable_id]", object.id
    .clear
  = render :partial => 'share/comment', :collection => object.comments.recent
