%li.comment{:id=>"comment-#{comment.id}", :class => "#{cycle('odd', 'even')}"}
  .avatar
    = image_tag comment.user.avatar
  .body
    %span.name= link_to comment.user.name, comment.user
    %span.gray= t :at
    %span.time= distance_of_time_in_words_to_now(comment.created_at)
    %span.gray= t :post_comment
    = comment.body
  .clear
