-if user_signed_in?
  .header-wrapper
    .header
      %ul.dropdown.navi
        %li#navi-home
          = link_to (t '.home'), home_path
        %li#navi-group-center
          = link_to (t '.group'), groups_path
          - if can? :admin, :backend
            %ul.dropdown-menu
              %li= link_to (t ".groups.new"), new_group_path
        %li#navi-activity-center
          = link_to (t '.activity'), activities_path
        - if can? :admin, :backend
          %li#navi-site-admin
            = link_to (t '.admin'), admin_index_path
        - if @group&&@group.id&&!(@activity&&@activity.id)
          %li#navi-cur-group
            = link_to (t '.curgroup', :name=>@group.name.truncate(15)), group_path(@group)
            %ul.dropdown-menu
              %li
                = link_to (t '.groups.activities'), group_activities_path(@group)
                -if can? :admin, @group
                  %ul
                    %li=link_to (t '.groups.new_activity'), new_group_activity_path(@group)
              %li
                = link_to (t '.groups.infos'), "#"
                %ul
                  %li= link_to (t 'groups.description.title'), description_group_path(@group)
                  %li= link_to (t 'groups.history.title'), description_group_path(@group)
                  %li= link_to (t 'groups.organization.title'), organization_group_path(@group)

              - if can? :admin, @group
                %li
                  = link_to (t '.groups.admin'), "#"
                  %ul
                    %li= link_to (t '.groups.edit'), edit_group_path(@group)
                    %li= link_to (t '.groups.members'), members_admin_group_path(@group)
                    %li= link_to (t '.groups.forms'), forms_admin_group_path(@group)
                    %li= link_to (t '.groups.sms'), sms_group_path(@group)
        - if (@activity&&@activity.id)
          %li#navi-cur-activity
            = link_to (t '.curactivity', :name=>@activity.name.truncate(15)), activity_path(@activity)
            %ul.dropdown-menu
              %li
                = link_to (t '.activities.group'), group_path(@activity.group)
              %li
                = link_to (t '.activities.blogs'), activity_blogs_path(@activity)
                -if can? :admin, @activity
                  %ul
                    %li= link_to (t '.activities.new_blog'), new_activity_blog_path(@activity)
              %li
                = link_to (t '.activities.albums'), activity_albums_path(@activity)
                -if can? :admin, @activity
                  %ul
                    %li= link_to (t '.activities.new_picture'), new_activity_picture_path(@activity)
              - if can? :admin, @activity
                %li
                  = link_to (t '.activities.admin'), "#"
                  %ul
                    %li= link_to (t '.activities.edit'), edit_group_activity_path(@activity.group, @activity)
        - if (can? :admin, @activity)&&@blog&&@blog.id
          %li#admin-blog
            = link_to (t ".admin_blog"), "#"
            %ul.dropdown-menu
              %li= link_to (t '.blogs.edit'), edit_activity_blog_path(@activity, @blog)
              %li= link_to (t '.blogs.delete'), destroy_activity_blog_path(@activity, @blog), :method => :delete, :confirm => (t '.blogs.sure')
        - if (can? :admin, @activity)&&@album&&@album.id
          %li#admin-blog= link_to (t '.albums.delete'), destroy_activity_album_path(@activity, @album), :method => :delete, :confirm => (t '.albums.sure')
        - if (can? :admin, @picture)&&@picture&&@picture.id
          %li#admin-picture= link_to (t '.pictures.delete'), destroy_activity_picture_path(@activity, @picture), :method => :delete, :confirm => (t '.pictures.sure')

      %ul.panel
        %li.mailbox
          = link_to (t '.mailbox'), mailboxes_path, { :class => "icon mailbox" }
          - if !new_messages.empty?
            .new_messages=link_to (new_messages.count), mailboxes_path
        %li.setting
          = link_to (t '.setting'), edit_profile_path(current_user.profile), { :class => "icon setting" }
        %li.exit
          = link_to (t '.logout'), destroy_user_session_path, { :method => :delete, :class => "icon exit" }
      = render 'share/search'
.clear
