.links
  .orange-link
    = link_to (t '.home'), home_path
  .orange-link
    = link_to (t '.group'), groups_path
  .orange-link
    = link_to (t '.activity'), activities_path
  .orange-link
    = link_to (t '.admin'), admin_index_path
  .orange-link
    = link_to (t '.logout'), destroy_user_session_path, :method => :delete
