- subject = event.subject
- object = event.object

.newsfeed
  .avatar
    = link_to (image_tag subject.url), subject
  .content
    .time
      = link_to subject.name, subject
      = t ".at"
      = distance_of_time_in_words_to_now(event.created_at)
      = t '.before'
    .title
      - if event.object_type=="Comment"
        - comment = event.object
        = t :in
        = t comment.commentable_type
        = link_to comment.commentable.name,comment.commentable
        = t :post
        = link_to (t :comment), comment
        %pre
          = "#{comment.user.name}: "
          = comment.body.truncate(100)
      - elsif event.object_type=="Picture"
        - picture = event.object
        = t :in
        = t :activity
        = link_to picture.imageable.name,picture.imageable
        = t :post
        = t :Picture
        = link_to picture.bare_name, picture
      - elsif event.object_type=="Blog"
        - blog = event.object
        = t :in
        = t :activity
        = link_to blog.activity.name, blog.activity
        = t :post
        = t :Blog
        = link_to blog.bare_name, blog
      - else
        = t event.action
        = " "
        = t event.object_type
        = " "
        = link_to object.name, object
  .poster
    = link_to (image_tag object.url), object 
