.blog.row{:id=>"blog-#{blog.id}", :class => "#{cycle('odd', 'even')}"}
  .span1
    .thumbnail
      = link_to (image_tag blog.author.avatar), blog.author
  .span6
    = link_to blog.author.name, blog.author
    = ":"
    = link_to blog.title, [@activity,blog]
    .content= sanitize(truncate_html(blog.content,:length=>100), :attributes => %w(id class style href _cke_saved_href title alt width height))  
    .time
      = l blog.created_at
