.blog
  .box.detail
    .box-header
      = "#{t :activity_blogs}: "+@blog.title
      .clear
    .box-body
      .blog-info
        = "#{t :from} "
        = link_to(@blog.author.name,@blog.author)
        = ", "
        = l @blog.created_at,:format=>:long
      .blog-content
        = simple_format @blog.content
  .comments
    .header
      %span= t :comment
    .list
      = render :partial => "share/comments", :locals => { :object => @blog }
