= form_for(@form_second_building_application) do |f|
  - if @form_second_building_application.errors.any?
    #error_explanation
      %h2
        = pluralize(@form_second_building_application.errors.count, "error")
        prohibited this form_second_building_application from being saved:
      %ul
        - @form_second_building_application.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.hidden_field :group_id
  .field
    = f.label t "zhubandanwei"
    = f.text_field :zhubandanwei
  .field
    = f.label t "fuzeren"
    = f.text_field :fuzeren
  .field
    = f.label t "xingming"
    = f.text_field :xingming
  .field
    = f.label t "yuanxi"
    = f.text_field :yuanxi
  .field
    = f.label t "lianxifangshi"
    = f.text_field :lianxifangshi
  .field
    = f.label t "zhujiangren"
    = f.text_field :zhujiangren
  .field
    = f.label t "gongzuodanwei"
    = f.text_field :gongzuodanwei
  .field
    = f.label t "zhicheng"
    = f.text_field :zhicheng
  .field
    = f.label t "yanjiangtimu"
    = f.text_field :yanjiangtimu
  .field
    = f.label t "fangyingneirong"
    = f.text_field :fangyingneirong
  .field
    = f.label t "huodongxingshi"
    = f.text_field :huodongxingshi
  .field
    = f.label t "huodongshijian"
    = f.date_select :huodongshijian
  .field
    = f.label t "startclass"
    = f.number_field :startclass
  .field
    = f.label t "endclass"
    = f.number_field :endclass
  .field
    = f.label t "huodongrenshu"
    = f.number_field :huodongrenshu
  .field
    = f.label t "beizhu"
    = f.text_field :beizhu
  .actions
    = f.submit t '.submit'
