<%= form_for(@form_second_building_application) do |f| %>
  <% if @form_second_building_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form_second_building_application.errors.count, "error") %> prohibited this form_second_building_application from being saved:</h2>

      <ul>
      <% @form_second_building_application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :zhubandanwei %><br />
    <%= f.text_field :zhubandanwei %>
  </div>
  <div class="field">
    <%= f.label :fuzeren %><br />
    <%= f.text_field :fuzeren %>
  </div>
  <div class="field">
    <%= f.label :xingming %><br />
    <%= f.text_field :xingming %>
  </div>
  <div class="field">
    <%= f.label :yuanxi %><br />
    <%= f.text_field :yuanxi %>
  </div>
  <div class="field">
    <%= f.label :lianxifangshi %><br />
    <%= f.text_field :lianxifangshi %>
  </div>
  <div class="field">
    <%= f.label :zhujiangren %><br />
    <%= f.text_field :zhujiangren %>
  </div>
  <div class="field">
    <%= f.label :gongzuodanwei %><br />
    <%= f.text_field :gongzuodanwei %>
  </div>
  <div class="field">
    <%= f.label :zhicheng %><br />
    <%= f.text_field :zhicheng %>
  </div>
  <div class="field">
    <%= f.label :yanjiangtimu %><br />
    <%= f.text_field :yanjiangtimu %>
  </div>
  <div class="field">
    <%= f.label :fangyingneirong %><br />
    <%= f.text_field :fangyingneirong %>
  </div>
  <div class="field">
    <%= f.label :huodongxingshi %><br />
    <%= f.text_field :huodongxingshi %>
  </div>
  <div class="field">
    <%= f.label :huodongshijian %><br />
    <%= f.date_select :huodongshijian %>
  </div>
  <div class="field">
    <%= f.label :startclass %><br />
    <%= f.number_field :startclass %>
  </div>
  <div class="field">
    <%= f.label :endclass %><br />
    <%= f.number_field :endclass %>
  </div>
  <div class="field">
    <%= f.label :huodongrenshu %><br />
    <%= f.number_field :huodongrenshu %>
  </div>
  <div class="field">
    <%= f.label :zhidaozhongxin %><br />
    <%= f.text_field :zhidaozhongxin %>
  </div>
  <div class="field">
    <%= f.label :jiaowuzhang %><br />
    <%= f.text_field :jiaowuzhang %>
  </div>
  <div class="field">
    <%= f.label :beizhu %><br />
    <%= f.text_field :beizhu %>
  </div>
  <div class="field">
    <%= f.label :group %><br />
    <%= f.text_field :group %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
