= form_for @form_second_building_application, :html => {:class => 'form-horizontal'} do |f|
  = f.hidden_field :group_id
  %fieldset
    %legend
      = t '.title'
    .control-group
      = f.label :zhubandanwei, t("zhubandanwei"), :class => 'control-label'
      .controls
        = f.text_field :zhubandanwei, :class => 'span4'
    %fieldset
      %legend
        = t '.fuzeren'
      .control-group
        = f.label :xingming, t(".name"), :class => 'control-label'
        .controls
          = f.text_field :xingming, :class => 'span4'
      .control-group
        = f.label :yuanxi, t("yuanxi"), :class => 'control-label'
        .controls
          = f.text_field :yuanxi, :class => 'span4'
      .control-group
        = f.label :lianxifangshi, t("lianxifangshi"), :class => 'control-label'
        .controls
          = f.text_field :lianxifangshi, :class => 'span4'
    %fieldset
      %legend
        = t '.zhujiangren'
      .control-group
        = f.label :zhujiangren, t(".name"), :class => 'control-label'
        .controls
          = f.text_field :zhujiangren, :class => 'span4'
      .control-group
        = f.label :gongzuodanwei, t("gongzuodanwei"), :class => 'control-label'
        .controls
          = f.text_field :gongzuodanwei, :class => 'span4'
      .control-group
        = f.label :zhicheng, t("zhicheng"), :class => 'control-label'
        .controls
          = f.text_field :zhicheng, :class => 'span4'
    %fieldset
      %legend
        = t '.info'
      .control-group
        = f.label :yanjiangtimu, t("yanjiangtimu"), :class => 'control-label'
        .controls
          = f.text_field :yanjiangtimu, :class => 'span4'
      .control-group
        = f.label :fangyingneirong, t("fangyingneirong"), :class => 'control-label'
        .controls
          = f.text_field :fangyingneirong, :class => 'span4'
      .control-group
        = f.label :huodongxingshi, t("huodongxingshi"), :class => 'control-label'
        .controls
          = f.text_field :huodongxingshi, :class => 'span4'
      .control-group
        = f.label :huodongshijian, t("huodongshijian"), :class => 'control-label'
        .controls
          = f.date_select :huodongshijian, {}, { :class => 'span1' }
      .control-group
        = f.label :startclass, t("startclass"), :class => 'control-label'
        .controls
          = f.number_field :startclass, :class => 'span4'
      .control-group
        = f.label :endclass, t("endclass"), :class => 'control-label'
        .controls
          = f.number_field :endclass, :class => 'span4'
      .control-group
        = f.label :huodongrenshu, t("huodongrenshu"), :class => 'control-label'
        .controls
          = f.number_field :huodongrenshu, :class => 'span4'
      .control-group
        = f.label :beizhu, t("beizhu"), :class => 'control-label'
        .controls
          = f.text_field :beizhu, :class => 'span4'
    .form-actions
      %button.btn.btn-primary{:type => 'submit'}
        = t '.new'
      %button.btn
        = t '.cancel'
