<p id="notice"><%= notice %></p>

<p>
  <b>Zhubandanwei:</b>
  <%= @form_second_building_application.zhubandanwei %>
</p>

<p>
  <b>Fuzeren:</b>
  <%= @form_second_building_application.fuzeren %>
</p>

<p>
  <b>Xingming:</b>
  <%= @form_second_building_application.xingming %>
</p>

<p>
  <b>Yuanxi:</b>
  <%= @form_second_building_application.yuanxi %>
</p>

<p>
  <b>Lianxifangshi:</b>
  <%= @form_second_building_application.lianxifangshi %>
</p>

<p>
  <b>Zhujiangren:</b>
  <%= @form_second_building_application.zhujiangren %>
</p>

<p>
  <b>Gongzuodanwei:</b>
  <%= @form_second_building_application.gongzuodanwei %>
</p>

<p>
  <b>Zhicheng:</b>
  <%= @form_second_building_application.zhicheng %>
</p>

<p>
  <b>Yanjiangtimu:</b>
  <%= @form_second_building_application.yanjiangtimu %>
</p>

<p>
  <b>Fangyingneirong:</b>
  <%= @form_second_building_application.fangyingneirong %>
</p>

<p>
  <b>Huodongxingshi:</b>
  <%= @form_second_building_application.huodongxingshi %>
</p>

<p>
  <b>Huodongshijian:</b>
  <%= @form_second_building_application.huodongshijian %>
</p>

<p>
  <b>Startclass:</b>
  <%= @form_second_building_application.startclass %>
</p>

<p>
  <b>Endclass:</b>
  <%= @form_second_building_application.endclass %>
</p>

<p>
  <b>Huodongrenshu:</b>
  <%= @form_second_building_application.huodongrenshu %>
</p>

<p>
  <b>Zhidaozhongxin:</b>
  <%= @form_second_building_application.zhidaozhongxin %>
</p>

<p>
  <b>Jiaowuzhang:</b>
  <%= @form_second_building_application.jiaowuzhang %>
</p>

<p>
  <b>Beizhu:</b>
  <%= @form_second_building_application.beizhu %>
</p>

<p>
  <b>Group:</b>
  <%= @form_second_building_application.group %>
</p>


<%= link_to 'Edit', edit_form_second_building_application_path(@form_second_building_application) %> |
<%= link_to 'Back', form_second_building_applications_path %>
