.container
  = render 'share/header'
  = render 'groups/slider'
  .content
    .span-7.append-1
      = render 'groups/infobar'
    .span-16.last
      = render :partial => 'form/second_building_applications/form_show', :locals => { :form => @form }
    .clear
  = render 'share/footer'
