%table
  %thead
    %th= "group"
    %th= t "zhubandanwei"
    %th= t "fuzeren"
    %th= t "xingming"
    %th= t "yuanxi"
    %th= t "lianxifangshi"
    %th= t "zhujiangren"
    %th= t "gongzuodanwei"
    %th= t "zhicheng"
    %th= t "yanjiangtimu"
    %th= t "fangyingneirong"
    %th= t "huodongshijian"
    %th= t "startclass"
    %th= t "endclass"
    %th= t "huodongrenshu"
    %th= t "zhidaozhongxin"
    %th= t "jiaowuzhang"
    %th= t "beizhu"
  %tbody
    %tr
      %td= @form.group.name
      %td= @form.zhubandanwei
      %td= @form.fuzeren
      %td= @form.xingming
      %td= @form.yuanxi
      %td= @form.lianxifangshi
      %td= @form.zhujiangren
      %td= @form.gongzuodanwei
      %td= @form.zhicheng
      %td= @form.yanjiangtimu
      %td= @form.fangyingneirong
      %td= @form.huodongshijian
      %td= @form.startclass
      %td= @form.endclass
      %td= @form.huodongrenshu
      %td= @form.zhidaozhongxin
      %td= @form.jiaowuzhang
      %td= @form.beizhu
