- resource.build_profile if resource.profile.nil?
.page-header
  %h1= t '.title'
= simple_form_for resource, :url => registration_path(resource_name), :html => { :class => 'form-horizontal' }, :defaults => { :input_html => { :class => 'span5' } } do |f|
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.simple_fields_for :profile, :defaults => { :input_html => { :class => 'span5' } } do |p|
    = p.input :name
    = p.input :realname
    = p.input :gender, 
      :collection => [[t('.male'), 1], [t('.female'), 2]],
      :as => :radio_buttons,
      :input_html => { :class => 'span0' }
    = p.input :student_id
    = p.input :phone
    = p.input :avatar, :as => :file
    = p.input :description, :as => :text, :input_html => { :rows => 6 }
  .submit-wrapper
    = f.button :submit, :value => t('.sign_up'), :class => 'span2 btn-primary'
