.activity.card
  = link_to (image_tag activity.poster.url(:card)), activity
  .info
    .top
      %span.name= link_to (highlight activity.title, @q), activity
    .center
      = sanitize(highlight(activity.description, @q), :attributes => %w(id class style href _cke_saved_href title alt width height)) unless activity.description.nil?
    .bottom
      %span.time
        = l activity.start_at, :format => :short
      %span.location
        = activity.location
      %span.group
        = t '.from'
        = link_to activity.group.name, activity.group
      %span.meta
        = t '.like', :count => activity.followers.count
        = "|"
        = t '.join', :count => activity.person_cnt
        = "|"
        = t '.comment', :count => activity.comments.count
