.user.card
  = link_to (image_tag profile.card), profile
  .info
    .top
      .name= link_to (highlight profile.name, @q), profile
    .center
      = highlight profile.description, @q
    .bottom
      %span.meta
        = t '.like', :count => profile.user.follows.count
        = "|"
        = t '.fans', :count => profile.user.fans.count
        = "|"
        = t '.groups', :count => profile.user.groups.count
        = "|"
        = t '.activities', :count => profile.user.activities.count
