.user.card.box
  = render :partial => 'profiles/side', :locals => { :user => profile.user }
  .info
    .name= highlight profile.name, @q
    .nickname= highlight profile.nickname, @q
    .student-id
      %span.label= t :student_id
      %span.val= profile.student_id
    .phone
      %span.label= t :phone
      %span.val= profile.phone
    .description= highlight profile.description, @q
    .group-activity
      = t :group_count, :count => profile.user.groups.count
      = " "
      = t :activities_count, :count => profile.user.activities.count
  .clear
