.admin.box
  .title
    = t '.title'
  .wrapper
    %ul
      %li= link_to (t '.form'), admin_forms_path
      %li= link_to (t '.members'), admin_members_index_path
      %li= link_to (t '.groups'), admin_groups_index_path
      %li= link_to (t '.activities'), admin_activities_index_path
