.newsfeed{ :id => "event-#{event.id}" }
  .avatar
    = link_to (image_tag subject.url), subject
  .wrapper
    .top
      = link_to subject.name, subject
      = t '.'+event.action
      = link_to blog.bare_name, blog
    .center
      .blog-content= sanitize truncate_html(blog.content,:length=>250)
      .clear
    .bottom
      %span.time
        = distance_of_time_in_words_to_now(event.created_at)
        = t 'newsfeeds.before'
      %span.from
        = t 'newsfeeds.from'
        = link_to blog.activity.name, blog.activity
      %span.meta
        = t 'newsfeeds.comments', :count => blog.comments.count
