.newsfeed{:id => "event-#{event.id}"}
  .avatar
    = link_to (image_tag subject.url), subject
  .wrapper
    .top
      = link_to subject.name, subject
      = t ".at"
      = link_to comment.commentable.name, comment.commentable
      - if event.action=="mentioned"
        = t :de
        = link_to (t :comment), comment
        = t :zhong
        = t event.action
      - else       
        = t event.action
        = link_to (t :comment), comment
    .center
      %pre.comment-body
        = raw comment.body.truncate(100)
    .bottom
      %span.time
        = distance_of_time_in_words_to_now(event.created_at)
        = t 'newsfeeds.before'
      %span.from
        = t 'newsfeeds.from'
        = link_to comment.commentable.name, comment.commentable
