.row.newsfeed{:id => "event-#{event.id}"}
  .span1
    = link_to (image_tag subject.url), subject
  .span7
    %p
      %strong
      = link_to subject.name, subject
      = t ".at"
      = link_to comment.commentable.name, comment.commentable
      - if event.action=="mentioned"
        = t :de
        = link_to (t :comment), comment
        = t :zhong
        = t event.action
      - else       
        = t event.action
        = link_to (t :comment), comment
    .row
      .span1
        = link_to (image_tag comment.user.thumb), comment.user
      .span6
        = sanitize truncate_html(comment.body,:length=>100),:tags=> %w(a)
    .bottom
      %span.time
        = distance_of_time_in_words_to_now(event.created_at)
        = t 'newsfeeds.before'
      %span.from
        = t 'newsfeeds.from'
        = link_to comment.commentable.name, comment.commentable
