.row.newsfeed{:id => "event-#{event.id}"}
  .span1
    = link_to (image_tag subject.url), subject
  .span6
    %p
      %strong
        = link_to subject.name, subject
        = t '.action'
        = t '.' + event.action
    .center.small
      .thumb.row
        .span2.thumbnail
          = image_tag picture.medium
        .span2
          = link_to picture.bare_name, picture
      .medium.row
        .span4.thumbnail
          = image_tag picture.big
    .bottom
      %span.time
        = distance_of_time_in_words_to_now(event.created_at)
        = t 'newsfeeds.before'
      %span.from
        = t 'newsfeeds.from'
        = link_to picture.imageable.name, picture.imageable
      %span.meta
        = t 'newsfeeds.comments', :count => picture.comments.count
