.row.newsfeed{:id => "event-#{event.id}"}
  .span1
    = link_to (image_tag subject.url), subject
  .span6
    %p
      %strong
        = link_to subject.name, subject
        = t ".#{event.action}", :type=>t(event.object_type)
        = link_to object.name, object
    .center.small
      .thumb.row
        .span1
          = image_tag object.thumb
        .span5
          = sanitize(truncate_html(object.description,:length=>500), :attributes => %w(id class style href _cke_saved_href title alt width height))
      .medium.row
        .span3
          = image_tag object.medium
        .span3
          = sanitize(truncate_html(object.description,:length=>500), :attributes => %w(id class style href _cke_saved_href title alt width height))          
    .bottom
      %span.time
        = distance_of_time_in_words_to_now(event.created_at)
        = t 'newsfeeds.before'