.activity
  .span-4
    = image_tag activity.poster.url(:thumb)
  .span-12.last
    .title
      = activity.title
    .time
      = activity.start_at
      = activity.end_at
    .description
      = activity.description
