.activities
  %span.label.label-info
    = t :activity
  %div
    - if @group.activities.empty?
      .alert.alert-info
        = link_to 'x', '', :class => 'close', 'data-dismiss' => 'alert'
        = t '.warn'
    - else
      = render :partial => 'activities/card', :collection => @group.activities.last(3), :as => :activity
  .more.row
    - if @more
      = link_to (t '.more'), activities_group_path, :class => 'btn btn-info span3 offset2'
