.group.card.row
  .span2
    .thumbnail
      = link_to (image_tag group.card), group
  .span5
    .top
      %span.name= link_to group.name, group
      %span.category= t group.category.name, :scope => :category
    .center
      = sanitize(group.introduction, :attributes => %w(id class style href _cke_saved_href title alt width height)) 
    .bottom
      %span.founded
        = l group.founded_at
        = t '.founded'
      %span.admin
        = t :group_boss
        = link_to group.boss.name, group.boss
      %span.meta
        = link_to (t '.like', :count => group.fans.count), group_circle_path(group,group.fan_circle)
        = "|"
        = link_to (t '.join', :count => group.members.count), group_circle_path(group,group.member_circle)
        = "|"
        = link_to (t '.activities', :count => group.activities.count), group_activities_path(group)
        = "|"
        = link_to (t '.comments', :count => group.comments.count), group.comments.first ||group_path(group,:anchor=>'new-comment')
