.filter-wrapper
  %ul.nav.nav-pills
    %li#filter-all.active= link_to (t '.all'), groups_path(:sort => params[:sort], :filter => 'all')
    %li= link_to (t '.like'), groups_path(:sort => params[:sort], :filter => 'like')
    %li= link_to (t '.join'), groups_path(:sort => params[:sort], :filter => 'join')
    %li= link_to (t '.wall'), wall_groups_path
    %li.dropdown
      %a{ :class => 'dropdown-toggle', :href => '#', 'data-toggle' => 'dropdown' }
        = t '.category'
        %b.caret
      %ul.dropdown-menu
        - Category.all.each do |category|
          %li
            = link_to category.translated_name, groups_path(:sort => params[:sort], :filter => 'category', :id => category.id)
  .clear
