.index.box
  .box-header
    = t("group")+t("index")
  .box-body
    .labels
      = link_to "#", "#"
      |
      = link_to "A", "#"
      |
      = link_to "B", "#"
      |
      = link_to "C", "#"
      |
      = link_to "D", "#"
      |
      = link_to "E", "#"
      |
      = link_to "F", "#"
      |
    .categories
      = render :partial => 'category', :collection => Category.all
