.info
  .head
    %span.name= group.name
    %span.category= t group.category.name, :scope => :category
  .admin
    = t :group_admin
    = link_to group.admin.name, group.admin.profile
    = "/"
    = l group.founded_at, :format => :long
    = t '.founded'
  .introduction
    = sanitize(group.introduction, :attributes => %w(id class style href _cke_saved_href title alt width height)) 
  .meta
    = t '.points', :count => group.points
    = "|"
    = t '.like', :count => group.followers.count
    = "|"
    = t '.join', :count => group.person_cnt
    = "|"
    = t '.activities', :count => group.activities.count
