.info
  %span.name= link_to group.name, group
  %span.category= t group.category.name, :scope => :category
  .admin
    = t :group_admin
    = link_to group.admin.name, group.admin
    = "/"
    = l group.created_at.to_date, :format => :long
    = t :create
  .description
    = group.description
  .activity
    = t :activities_count, :count => group.activities.count
