.info
  %span.name= link_to group.name, group
  %span.category= t group.category.name, :scope => :category
  .admin
    = t :group_admin
    = link_to group.admin.name, group.admin
    = "/"
    = l group.founded_at, :format => :long
    = t '.founded'
  .description
    = simple_format group.introduction
  .activity
    = t :activities_count, :count => group.activities.count
