.secondary
  %ul
    %li.first= link_to (t :groups_all), groups_path(:sort => "all")
    - Category.all.each do |category|
      %li
        = link_to category.translated_name, groups_path(:sort => "category", :id => category.id)
  %div
  %ul
    %li.first= t :administrate
    %li= link_to (t '.new'), new_group_path
    - if can? :admin, @group
      %li= link_to (t '.edit'), edit_group_path
      %li= link_to (t '.activity'), new_group_activity_path(@group)
      %li= link_to (t '.members'), members_admin_group_path
      %li= link_to (t '.forms'), forms_admin_group_path
      %li= link_to (t '.second'), second_building_new_form_group_path
  .clear
