.side
  .logo
    = image_tag group.logo.url(:card)
  .like-join
    = t :like_count, :count => group.followers.count
    = " "
    = t :join_count, :count => group.members.count
  - if board
    = render :partial => 'groups/join', :object => group, :as => :group
    = render :partial => 'groups/like', :object => group, :as => :group
    .organization
      = t :organization 
    .history
      = t :history
