.side
  .logo
    = link_to (image_tag group.logo.url(:card)), group
  .role
    = group.role(current_user) if group.persons.include?(current_user)
  .like-join
    .action
      - unless group.persons.include?(current_user)
        = render :partial => 'groups/like', :object => group, :as => :group
        = "|"
      - unless group.admin == current_user
        = render :partial => 'groups/join', :object => group, :as => :group
  .description
    = link_to (t '.des'), description_group_path
  .organization
    = link_to (t '.org'), organization_group_path
  .history
    = link_to (t '.his'), history_group_path
