.group.form
  .title
    = t '.title'
    %span= t '.remark'
  = form_for @group do |f|
    = hidden_field_tag 'q', '3'
    = f.cktext_area :description, :height => 300
    .button-wrapper
      = f.submit (t '.save')
