<h1>Listing groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Slogan</th>
    <th>Description</th>
    <th>History</th>
    <th>Organization</th>
    <th>Email</th>
    <th>Status</th>
    <th>Logo file name</th>
    <th>Logo content type</th>
    <th>Logo file size</th>
    <th>Logo updated at</th>
    <th>Points</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.name %></td>
    <td><%= group.slogan %></td>
    <td><%= group.description %></td>
    <td><%= group.history %></td>
    <td><%= group.organization %></td>
    <td><%= group.email %></td>
    <td><%= group.status %></td>
    <td><%= group.logo_file_name %></td>
    <td><%= group.logo_content_type %></td>
    <td><%= group.logo_file_size %></td>
    <td><%= group.logo_updated_at %></td>
    <td><%= group.points %></td>
    <td><%= link_to 'Show', group %></td>
    <td><%= link_to 'Edit', edit_group_path(group) %></td>
    <td><%= link_to 'Destroy', group, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group', new_group_path %>
