.main
  = render :partial => 'board', :object => @group, :as => :group
  #organization
    .header
      %span= t '.organization'
    .box
      = simple_format @group.organization
  #history
    .header
      %span= t '.history'
    .box
      = simple_format @group.history
  #description
    .header
      %span= t '.description'
    .box
      = simple_format @group.description
  .activities
    .header
      %span= t :activity
      = link_to (t :activity_more), '#'
    .list
      = render :partial => 'activities/card', :collection => @group.activities.last(3), :as => :activity
  .comments
    .header
      %span= t :comment
      = link_to (t :comments_more), '#'
    .list
      = render :partial => "share/comments", :locals => { :object => @group }
