= form_tag members_edit_group_path do 
  %table
    %thead
      %th= "id"
      %th= t "name"
      %th= t "nickname"
      %th= t "student_id"
      %th= t "user_group_status"
    %tbody
      - @tenders && @tenders.each do |tender|
        %tr
          %td
          %td= tender.profile.name
          %td= tender.name
          %td= tender.profile.student_id
          %td= select "member", "#{tender.id}", { (t "approving") => Constant::Approving, (t "member") => Constant::Member, (t "reject") => Constant::Rejected }
      -@members && @members.each do |member|
        %tr
          %td
          %td= member.profile.name
          %td= member.name
          %td= member.profile.student_id
          %td= select "member", "#{member.id}", { (t "member") => Constant::Member, (t "kick_ass") => Constant::Rejected}
  = submit_tag 'confirm_change'
