.favors.tricol-list.box
  .box-header
    = t "my_favors"
    = link_to (t "users"), "#", :remote=>true
    = link_to (t "groups"), "#", :remote=>true
    = link_to (t "activities"), "#", :remote=>true

  .box-body
    %ul.favor_list
    .more
      = link_to "more", "#"
    .clear
