.favors.tricol-list.box
  .box-header
    = t "my_favors"
    = link_to (t "users"), "#", :remote=>true
    = link_to (t "groups"), "#", :remote=>true
    = link_to (t "activities"), "#", :remote=>true

  .box-body
    %ul.favor_list
      %li
        %ul
          = render :partial => "users/thumb", :collection => @user.users_i_like
      %li
        %ul
          = render :partial => "groups/thumb", :collection => @user.like_groups
      %li
        %ul
          = render :partial => "activities/thumb", :collection => @user.like_activities
    .more
      = link_to "more", "#"
    .clear
