.favors.tricol-list.box
  .box-header
    = "My favors"
    = link_to "activities", "#"
    = link_to "users", "#"
    = link_to "groups", "#"
  .box-body
    %ul
      = render :partial => "activities/thumb", :collection => @join_activities.limit(5)
    .clear
  .more
    = link_to "more", "#"
    .clear
