.favors.box
  .box-header
    = "My favors"
    = link_to "users", "#"
    = link_to "groups", "#"
    = link_to "activities", "#"
  .box-body
    %ul
      = render :partial => "users/thumb", :collection => @like_users.limit(5)
    .clear
  .more
    = link_to "more", "#"
    .clear
