- event = newsfeed.event
- subject = event.subject
- object = event.object

.newsfeed
  .span-2.avatar
    = link_to (image_tag subject.url), subject
  .span-11.content.last
    .time
      = link_to subject.name, subject
      = " "
      = t("newsfeed name and time", :time => distance_of_time_in_words_to_now(event.created_at))
    .title
      = t event.action
      = " "
      = t event.object_type
      = " "
      = link_to object.name, object
  .span-2.last.poster
    = link_to (image_tag object.url), object 
  .clear
