.ranks.box
  .box-header
    = "24h Rankings"
  .box-body
    .rank
      = "XXX"
      = "YYY"
    .rank
      = "XXX"
      = "YYY"
    .rank
      = "XXX"
      = "YYY"
    .rank
      = "XXX"
      = "YYY"
    .rank
      = "XXX"
      = "YYY"
