.newsfeed

  .span-2.avatar
    = link_to (image_tag activity.poster.url(:thumb)), activity 
  .span-11.content
    .title
      = link_to activity.title, activity
    .time
      - if activity.start_at.to_date == activity.end_at.to_date
        = "时间：#{format_datetime activity.start_at} - #{format_datetime activity.end_at}"
      - else
        = "时间：#{format_datetime activity.start_at} 至 #{format_datetime activity.end_at}"
    .location
      = "地点：#{activity.location}"
    .more
      = link_to '详情', activity
  .span-2.last.poster
    = link_to (image_tag activity.poster.url(:thumb)), activity 
  .clear
