.container
  = render 'share/header'
  .main
    .span-7.append-1
      = render :partial=>'user_box',:locals=>{:user=>@user}
      = render 'rank'
      = render 'favor'
    .span-16.last
      = render 'newsfeeds'
    .clear
  = render 'share/footer'
