<p>User Info</p>
<%= @user.name %>
<%= image_tag @user.avatar %>
<% if not is_current_user %>
  <% if not liking?(@user) %>
    <%= render 'like' %>
  <% else %>
    <%= render 'dislike' %>
  <% end %>
<% end %>
<p>My activities</p>
<%= render :partial => "activities/activities_list_without_description", :locals => {:activities => @my_activities.limit(5)} %>
<hr />
<p>Like groups</p>
<%= render :partial => "groups/group_list", :locals => {:groups => @like_groups.limit(5)} %>
<hr />
<p>Like activities</p>
<%= render :partial => "activities/activities_list_without_description", :locals => {:activities => @like_activities.limit(5)} %>
<hr />
