<h1>Listing form_second_building_application_forms</h1>

<table>
  <tr>
    <th>Organizer</th>
    <th>Person in charge</th>
    <th>Contacter name</th>
    <th>Contacter school</th>
    <th>Contact way</th>
    <th>Speaker</th>
    <th>Institution</th>
    <th>Speaker title</th>
    <th>Speech title</th>
    <th>Video content</th>
    <th>Other type</th>
    <th>Start at</th>
    <th>End at</th>
    <th>Attend count</th>
    <th>Boss reply</th>
    <th>Provost reply</th>
    <th>Remark</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @form_second_building_application_forms.each do |form_second_building_application_form| %>
  <tr>
    <td><%= form_second_building_application_form.organizer %></td>
    <td><%= form_second_building_application_form.person_in_charge %></td>
    <td><%= form_second_building_application_form.contacter_name %></td>
    <td><%= form_second_building_application_form.contacter_school %></td>
    <td><%= form_second_building_application_form.contact_way %></td>
    <td><%= form_second_building_application_form.speaker %></td>
    <td><%= form_second_building_application_form.institution %></td>
    <td><%= form_second_building_application_form.speaker_title %></td>
    <td><%= form_second_building_application_form.speech_title %></td>
    <td><%= form_second_building_application_form.video_content %></td>
    <td><%= form_second_building_application_form.other_type %></td>
    <td><%= form_second_building_application_form.start_at %></td>
    <td><%= form_second_building_application_form.end_at %></td>
    <td><%= form_second_building_application_form.attend_count %></td>
    <td><%= form_second_building_application_form.boss_reply %></td>
    <td><%= form_second_building_application_form.provost_reply %></td>
    <td><%= form_second_building_application_form.remark %></td>
    <td><%= link_to 'Show', form_second_building_application_form %></td>
    <td><%= link_to 'Edit', edit_form_second_building_application_form_path(form_second_building_application_form) %></td>
    <td><%= link_to 'Destroy', form_second_building_application_form, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Second building application form', new_form_second_building_application_form_path %>
