<p id="notice"><%= notice %></p>

<p>
  <b>Organizer:</b>
  <%= @form_second_building_application_form.organizer %>
</p>

<p>
  <b>Person in charge:</b>
  <%= @form_second_building_application_form.person_in_charge %>
</p>

<p>
  <b>Contacter name:</b>
  <%= @form_second_building_application_form.contacter_name %>
</p>

<p>
  <b>Contacter school:</b>
  <%= @form_second_building_application_form.contacter_school %>
</p>

<p>
  <b>Contact way:</b>
  <%= @form_second_building_application_form.contact_way %>
</p>

<p>
  <b>Speaker:</b>
  <%= @form_second_building_application_form.speaker %>
</p>

<p>
  <b>Institution:</b>
  <%= @form_second_building_application_form.institution %>
</p>

<p>
  <b>Speaker title:</b>
  <%= @form_second_building_application_form.speaker_title %>
</p>

<p>
  <b>Speech title:</b>
  <%= @form_second_building_application_form.speech_title %>
</p>

<p>
  <b>Video content:</b>
  <%= @form_second_building_application_form.video_content %>
</p>

<p>
  <b>Other type:</b>
  <%= @form_second_building_application_form.other_type %>
</p>

<p>
  <b>Start at:</b>
  <%= @form_second_building_application_form.start_at %>
</p>

<p>
  <b>End at:</b>
  <%= @form_second_building_application_form.end_at %>
</p>

<p>
  <b>Attend count:</b>
  <%= @form_second_building_application_form.attend_count %>
</p>

<p>
  <b>Boss reply:</b>
  <%= @form_second_building_application_form.boss_reply %>
</p>

<p>
  <b>Provost reply:</b>
  <%= @form_second_building_application_form.provost_reply %>
</p>

<p>
  <b>Remark:</b>
  <%= @form_second_building_application_form.remark %>
</p>


<%= link_to 'Edit', edit_form_second_building_application_form_path(@form_second_building_application_form) %> |
<%= link_to 'Back', form_second_building_application_forms_path %>
