<%= form_for(@form_booth_application_form) do |f| %>
  <% if @form_booth_application_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form_booth_application_form.errors.count, "error") %> prohibited this form_booth_application_form from being saved:</h2>

      <ul>
      <% @form_booth_application_form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :app_name %><br />
    <%= f.text_field :app_name %>
  </div>
  <div class="field">
    <%= f.label :app_gender %><br />
    <%= f.number_field :app_gender %>
  </div>
  <div class="field">
    <%= f.label :app_title %><br />
    <%= f.text_field :app_title %>
  </div>
  <div class="field">
    <%= f.label :app_email %><br />
    <%= f.text_field :app_email %>
  </div>
  <div class="field">
    <%= f.label :app_phone %><br />
    <%= f.text_field :app_phone %>
  </div>
  <div class="field">
    <%= f.label :app_institution %><br />
    <%= f.text_field :app_institution %>
  </div>
  <div class="field">
    <%= f.label :person_in_charge %><br />
    <%= f.text_field :person_in_charge %>
  </div>
  <div class="field">
    <%= f.label :start_at %><br />
    <%= f.date_select :start_at %>
  </div>
  <div class="field">
    <%= f.label :end_at %><br />
    <%= f.date_select :end_at %>
  </div>
  <div class="field">
    <%= f.label :booth_count %><br />
    <%= f.number_field :booth_count %>
  </div>
  <div class="field">
    <%= f.label :app_reason %><br />
    <%= f.text_field :app_reason %>
  </div>
  <div class="field">
    <%= f.label :display_form %><br />
    <%= f.text_field :display_form %>
  </div>
  <div class="field">
    <%= f.label :app_confirm %><br />
    <%= f.check_box :app_confirm %>
  </div>
  <div class="field">
    <%= f.label :app_confirm_date %><br />
    <%= f.date_select :app_confirm_date %>
  </div>
  <div class="field">
    <%= f.label :boss_advice %><br />
    <%= f.text_field :boss_advice %>
  </div>
  <div class="field">
    <%= f.label :boss_confirm %><br />
    <%= f.check_box :boss_confirm %>
  </div>
  <div class="field">
    <%= f.label :boss_confirm_date %><br />
    <%= f.date_select :boss_confirm_date %>
  </div>
  <div class="field">
    <%= f.label :sd_advice %><br />
    <%= f.text_field :sd_advice %>
  </div>
  <div class="field">
    <%= f.label :sd_confirm %><br />
    <%= f.check_box :sd_confirm %>
  </div>
  <div class="field">
    <%= f.label :sd_confirm_date %><br />
    <%= f.date_select :sd_confirm_date %>
  </div>
  <div class="field">
    <%= f.label :remark %><br />
    <%= f.text_field :remark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
