<p id="notice"><%= notice %></p>

<p>
  <b>App name:</b>
  <%= @form_booth_application_form.app_name %>
</p>

<p>
  <b>App gender:</b>
  <%= @form_booth_application_form.app_gender %>
</p>

<p>
  <b>App title:</b>
  <%= @form_booth_application_form.app_title %>
</p>

<p>
  <b>App email:</b>
  <%= @form_booth_application_form.app_email %>
</p>

<p>
  <b>App phone:</b>
  <%= @form_booth_application_form.app_phone %>
</p>

<p>
  <b>App institution:</b>
  <%= @form_booth_application_form.app_institution %>
</p>

<p>
  <b>Person in charge:</b>
  <%= @form_booth_application_form.person_in_charge %>
</p>

<p>
  <b>Start at:</b>
  <%= @form_booth_application_form.start_at %>
</p>

<p>
  <b>End at:</b>
  <%= @form_booth_application_form.end_at %>
</p>

<p>
  <b>Booth count:</b>
  <%= @form_booth_application_form.booth_count %>
</p>

<p>
  <b>App reason:</b>
  <%= @form_booth_application_form.app_reason %>
</p>

<p>
  <b>Display form:</b>
  <%= @form_booth_application_form.display_form %>
</p>

<p>
  <b>App confirm:</b>
  <%= @form_booth_application_form.app_confirm %>
</p>

<p>
  <b>App confirm date:</b>
  <%= @form_booth_application_form.app_confirm_date %>
</p>

<p>
  <b>Boss advice:</b>
  <%= @form_booth_application_form.boss_advice %>
</p>

<p>
  <b>Boss confirm:</b>
  <%= @form_booth_application_form.boss_confirm %>
</p>

<p>
  <b>Boss confirm date:</b>
  <%= @form_booth_application_form.boss_confirm_date %>
</p>

<p>
  <b>Sd advice:</b>
  <%= @form_booth_application_form.sd_advice %>
</p>

<p>
  <b>Sd confirm:</b>
  <%= @form_booth_application_form.sd_confirm %>
</p>

<p>
  <b>Sd confirm date:</b>
  <%= @form_booth_application_form.sd_confirm_date %>
</p>

<p>
  <b>Remark:</b>
  <%= @form_booth_application_form.remark %>
</p>


<%= link_to 'Edit', edit_form_booth_application_form_path(@form_booth_application_form) %> |
<%= link_to 'Back', form_booth_application_forms_path %>
