<%= form_for([@activity, @album]) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-wrapper">
  <%= f.text_field :title %>
  </div>
  <%= hidden_field_tag :activity_id,@activity.id %>
  <div class="button-wrapper">
    <%= f.submit(t :new_album) %>
  </div>
<% end %>
