= form_tag update_mailboxes_path, :method => :post, :remote => true do
  = select_tag "option", options_for_select(@options)
  = submit_tag (t "apply_to_selected"), :class => "submit"
  = hidden_field_tag :mailbox, @mailbox
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
    %tbody
      %thead
        %th{:scope => "col", :width => "5%"}
          %input#checkbox.checkall{:name => "checkbox", :type => "checkbox"}/
        - unless @mailbox == "outbox"
          %th{:scope => "col", :width => "20%"}=t "from"
        - else
          %th{:scope => "col", :width => "20%"}=t "to"
        %th{:scope => "col", :width => "55%"}=t "subject"
        %th{:scope => "col", :width => "20%"}=t "message_time"
      / check opened message first and then set alternate style
      - x = 0
      - for msg in @messages
        %tr{:class => ( (@mailbox != "outbox") ? ( msg.read? ? "" : "unread " ) : "" ) }
          %td{:scope => "col"}= check_box_tag "[messages][]", msg.id
          - unless @mailbox == "outbox"
            %td{:scope => "col"}= msg.from.name
          - else
            %td{:scope => "col"}= msg.to.name
          %td{:scope => "col"}= link_to msg.subject, show_mailboxes_path(@mailbox,msg)
          %td{:scope => "col", :title => l(msg.created_at)}= l(msg.created_at, :format=>((msg.created_at < 1.days.ago) ? :only_time : :short))
      %tr
        %td{:colspan => "4"}= will_paginate @messages, :class => "pagination"
%p
