= render "head"
.mailbox
  .mails
    = form_tag create_mailboxes_path, :method => :post do
      .token-field
        = text_field_tag :user_tokens,"", :placeholder=>(t :receiver), :class=>"token-input"
      .field
        = text_field_tag :subject, "",:class=>"subject", :placeholder => (t ".topic")
      .clear
      .area-wrapper
        %p
          = cktext_area_tag :body, "", :toolbar => "Basic"
      .button-wrapper
        = submit_tag (t "send"), :class => "submit"
