= render "head"
.mailbox
  .mails
    = form_tag create_mailboxes_path, :method => :post do
      .user-subject-wrapper
        = text_field_tag :user_nameid,"",:class=>"user user-input", :placeholder=>(t :receiver)
        = hidden_field_tag :user_tokens,""
        = text_field_tag :subject, "",:class=>"subject", :placeholder => (t ".topic")
        .clear
      .area-wrapper
        %p
          = cktext_area_tag :body, "", :toolbar => "Basic"
      .button-wrapper
        = submit_tag (t "send"), :class => "submit"
