= render "head"
.mailbox
  .mails
    = form_tag create_mailboxes_path, :method => :post do
      .select-wrapper
        = label_tag :user_tokens, "#{t :receiver} :"
        = select_tag(:user_tokens,options_from_collection_for_select(current_user.users_i_like,:id,:name),:options=>{:default =>t('select_receiver')})
      .subject
        .input-wrapper
          = text_field_tag :subject, "", :placeholder => (t ".topic")
      .area-wrapper
        %p
          = cktext_area :body, "", :class => "medium"
      .button-wrapper
        = submit_tag (t "send"), :class => "submit"
