= render "head"
.mailbox
  .mails
    = form_tag create_mailboxes_path, :method => :post do
      %h3= @message.subject
      .message.ui-widget-content.ui-corner-all
        .infos
          = "#{t :from} "
          = link_to(@message.from.name,@message.from)
          = ", "
          = l @message.created_at,:format=>:long
        .mail-body
          = sanitize(@message.body, :attributes => %w(id class style href _cke_saved_href title alt width height))  
      - unless params[:mailbox] == "outbox"
        .reply
          = cktext_area_tag :body, "", :toolbar => 'Basic'
        .button-wrapper
          = submit_tag (t "reply"), :class => "submit"
        = hidden_field_tag :user_tokens, @user_tokens
        = hidden_field_tag :subject, @message.subject
