.container
  = render 'share/header'
  .content
    .span-7.append-1
      = render :partial=>'users/user_box',:locals=>{:user=>current_user}
      = render 'users/rank'
    .box.span-14.last
      .box-header
        = t "mailbox"
        = link_to (t "trash"), box_mailboxes_path(:trash), :remote => true
        = link_to (t "outbox"), box_mailboxes_path(:outbox), :remote => true
        = link_to (t "inbox"), box_mailboxes_path(:inbox), :remote => true
        = link_to (t "compose_new_message"), new_mailboxes_path
      .box-body
        = render 'index'
    .clear
  = render 'share/footer'
