.mailbox
  = render 'header'
  .mails.new
    = form_tag create_mailboxes_path, :class => 'form-horizontal' do
      .control-group
        = text_field_tag :subject, "", :class => "span7", :placeholder => (t ".topic")
      .control-group
        = text_field_tag :user_tokens,"", :placeholder=>(t :receiver), :class=>"token-input"
      .control-group
        = cktext_area_tag :body, "", :toolbar => "Basic"
      .control-group
        = button_tag t("send"), :class => "btn btn-primary"
#recipients-json.hide= params[:recipients].to_json
