.mailbox
  = render 'header'
  .mails
    = form_tag create_mailboxes_path, :method => :post do
      %h3= @message.subject
      .message
        .infos
          - unless params[:mailbox] == "outbox"
            = t :from
            = link_to(@message.from.name,@message.from)
          - else
            = t :to
            = link_to(@message.to.name,@message.to)
          = ", "
          = l @message.created_at,:format=>:long
        .mail-body
          = sanitize(@message.body, :attributes => %w(id class style href _cke_saved_href title alt width height))  
      - unless params[:mailbox] == "outbox"
        .reply
          = cktext_area_tag :body, "", :toolbar => 'Basic'
        .button-wrapper
          = submit_tag (t "reply"), :class => "submit btn btn-primary"
        = hidden_field_tag :user_tokens, @user_tokens
        = hidden_field_tag :subject, @message.subject
