.session
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    - unless alert.blank?
      .alert.alert-error
        %a.close{'data-dismiss' => 'alert'}
          = "x"
        = alert
    = f.email_field :email, :class => 'span3', :placeholder => (t :email)
    = f.password_field :password, :class => 'span3', :placeholder => (t :password)
    - if devise_mapping.rememberable?
      %label.checkbox
        %input{:type => 'checkbox'}
          = t :remember_me
    %button.btn.btn-primary{:type => 'submit'}
      = t 'sign_in'
