.box.picture
  .box-header
    .avatar= link_to(image_tag(@picture.user.url(:small)),@picture.user)
    .info 
      .title= link_to(@picture.album.title, @picture.album, :class=>"title")
      .uploader
        %span.user-name= link_to(@picture.user.name,@picture.user)
        %span.post-in= (t :post) + (t :in)
        %span.time= l @picture.created_at
    .clear
  .box-content
    =link_to image_tag(@picture.url(:big)),@picture.url(:original), :target=>"_blank"
  .textarea-wrapper
    =best_in_place_if (can? :admin, @picture), @picture, :remark, :type => :textarea, :nil => t("Click me to add remark!"), :display_with => :simple_format
    :javascript
      $(".best_in_place").best_in_place();
  .navi
    = link_to (t ".prev"),load_picture_path(@picture.prev),:remote=>true
    = "/"
    = link_to (t ".next"),load_picture_path(@picture.next),:remote=>true
.picture.comments
  .header
    %span= t :comment
    = link_to (t :comments_more), '#'
  .list
    = render :partial => "share/comments", :locals => { :object => @picture }