.box.detail
  .box-header
    = link_to @activity.name, @activity
    = t(:de) + t(:Picture)
    .clear
  .box-body
    %ul.album-pictures
      - @activity.pictures.each do |pic|
        %a{:href=>picture_path(pic)}
          %li
            %p= image_tag(pic.url(:small))
            %p= pic.remark
            %p
              ="#{t :comment}: "
              =pic.comments.count

      .clear