.page-header
  %h1
    = @picture.album.title
.picture-wrapper
  .picture
    =link_to image_tag(@picture.url(:big)),@picture.url(:original), :target=>"_blank"
  .remark
    =best_in_place_if (can? :admin, @picture), @picture, :remark, :type => :textarea, :nil => t("Click me to add remark!"), :display_with => :simple_format
    :javascript
      $(function(){$(".best_in_place").best_in_place();});
  .navi
    = link_to (t ".prev"),picture_path(@picture.prev)
    = "/"
    = link_to (t ".next"),picture_path(@picture.next)
.comments
  = render :partial => "share/comments", :locals => { :object => @picture }
