<p id="notice"><%= notice %></p>

<p>
  <b>Album:</b>
  <%= @picture.album %>
</p>

<p>
  <b>User:</b>
  <%= @picture.user %>
</p>

<p>
  <b>Remark:</b>
  <%= @picture.remark %>
</p>

<p>
  <b>Photo file name:</b>
  <%= @picture.photo_file_name %>
</p>

<p>
  <b>Photo content type:</b>
  <%= @picture.photo_content_type %>
</p>

<p>
  <b>Photo file size:</b>
  <%= @picture.photo_file_size %>
</p>

<p>
  <b>Photo updated at:</b>
  <%= @picture.photo_updated_at %>
</p>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
