<div class="picture">
<p id="notice"><%= notice %></p>

<p>
  <b>Album:</b>
  <%= @picture.album.title %>
</p>

<p>
  <b>User:</b>
  <%= @picture.user.name %>
</p>

<p>
  <%= image_tag(@picture.photo.url) %>
</p>

<%= render :partial => "share/comments", :locals => {:object => @picture} %>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
</div>