.admin.app-form
  .back
    = link_to (t '.back'), admin_index_path
  .title
    = t '.title'
  .filter
    %ul
      %li= t '.filter'
      %li= link_to t('.all'), admin_activities_index_path(:filter => "all")
      %li= link_to t('.approving'), admin_activities_index_path(:filter => "approving")
      %li= link_to t('.approved'), admin_activities_index_path(:filter => "approved")
      %li= link_to t('.rejected'), admin_activities_index_path(:filter => "rejected")
      %li= link_to t('.blocked'), admin_activities_index_path(:filter => "blocked")
  %table
    %tr
      %th= t '.activity'
      %th= t '.group'
      %th= t '.pub'
      %th= t '.status'
    - @activities.each do |activity|
      %tr{:class => cycle('odd', 'even')}
        %td= link_to activity.title.truncate(25), activity
        %td= link_to activity.group.name.truncate(25), activity.group
        %td= activity.public ? t('.public') : t('.private')
        %td
          = form_for activity, :remote => true do |f|
            = f.select :status, { (t 'approving') => Constant::Approving, (t 'blocked') => Constant::Blocked, (t 'approved') => Constant::Approved, (t 'rejected') => Constant::Rejected }
  = will_paginate @activities
