.admin.app-form
  .back
    = link_to (t '.back'), admin_index_path
  .title
    = t '.title'
  %table
    %tr
      %th= t '.group'
      %th= t '.apptime'
      %th= t '.status'
      %th= t '.detail'
    - @forms.each do |f|
      %tr{:class => cycle('odd', 'even')}
        %td= f.group.name
        %td
          = l f.huodongshijian
          = t '.time', :start => f.startclass, :end => f.endclass
        %td= t(show_status f)
        %td= link_to (t '.detail'), admin_form_path(f)
