.admin.app-form
  .title
    = t '.title'
  %table
    %tr
      %td= t '.group'
      %td= t '.apptime'
      %td= t '.status'
      %td= t '.detail'
    - @forms.each do |f|
      %tr
        %td= f.group.name
        %td
          = l f.huodongshijian
          = t '.time', :start => f.startclass, :end => f.endclass
        %td= t(show_status f)
        %td= link_to (t '.detail'), admin_form_path(f)
