.news
  %span.name= subject.name.truncate(10)
  %span= t '.at'
  %span.time= distance_of_time_in_words_to_now(event.created_at)
  %span= t '.before'
  %span.action= t '.action', :action => t(event.action)
  %span= t event.object_type
  %span.object= object.name.truncate(20)
