.site-index.main
  .hotspot
    .header
      %span= t '.hotspot'
    .box
      .banner
        - @activities.each do |activity|
          = image_tag activity.banner.url(:banner)
      .medium
        = image_tag @activities.first.banner.url(:medium)
  .newsfeed
    = "js done"
  .activities
    .header
      %span= t '.new'
    .list
      = render :partial => 'activities/card', :collection => @activities, :as => :activity
