- members.each do |member|
  %tr{:class => cycle('odd', 'even')}
    %td= member.name
    %td= member.nickname
    %td= member.profile.student_id
    %td
      = form_tag members_admin_group_path, :remote => true do
        = hidden_field_tag :member_id, member.id
        = select "status", member.id, options_for_select({ (t '.approving') => Constant::Approving, (t ".member") => Constant::Member + Constant::Approved, (t '.admin') => Constant::Admin + Constant::Approved, (t ".rejected") => Constant::Rejected}, UserGroup.f(@group.id, member.id).status)
