.page-header
  %h1= t '.title'
  .add= link_to (t '.new'), second_building_new_form_group_path
%table.table.table-striped
  %thead
    %tr
      %th= t '.id'
      %th= t '.datetime'
      %th= t '.status'
      %th= t '.classroom'
  %tbody
    - @second_buildings.each do |f|
      %tr{:class => cycle('odd', 'even')}
        %td
          = link_to f.id, f
        %td
          = l f.huodongshijian
          = t '.time', :start => f.startclass, :end => f.endclass
        %td= t(show_status f)
        %td= f.classroom
