.admin.app-form
  .back
    = link_to (t '.back'), admin_index_path
  .title
    = t '.title'
  %table
    %tr
      %th= t ".name"
      %th= t ".admin"
      %th= t ".email"
      %th= t ".status"
    = render :partial => 'part', :locals => { :groups => @approving_groups }
    = render :partial => 'part', :locals => { :groups => @blocked_groups   }
    = render :partial => 'part', :locals => { :groups => @approved_groups  }
