.group.form.admin
  .back
    = link_to (t '.back'), edit_group_path
  .title
    = t '.title'
    %span= t '.remark'
  = form_for @group do |f|
    = f.cktext_area :introduction
    .button-wrapper
      = f.submit (t '.save')
