.clear.actvity_list
  %ul
    - activities.each do |activity|
      %li
        .aactivity.clearfix
          .activitypic
            = link_to (image_tag activity.poster.url(:thumb)), activity 
          .activityinfo
            %p
              =link_to activity.title ,activity_path(activity)
              %a.category_link 聚会
            %p.activity_time
              -if activity.start_at.to_date == activity.end_at.to_date
                = "时间：#{l activity.start_at, :format => :onlydate } #{l activity.start_at, :format => :onlytime} - #{l activity.end_at, :format => :onlytime}"
              -else
                = "时间：#{l activity.start_at } 至 #{l activity.end_at}"
              ="地点：#{}"
            %p.activity_description
              = activity.description 
              %a 详情
