.admin-panel.box.activities
  .box-body
    %span.follower
      - if @activity.followers.include?(current_user)
        = link_to (t "dislike"), like_activity_path(@activity), :remote => true
      - else
        = link_to (image_tag 'like.png'), like_activity_path(@activity), :remote => true
    %span.join
      - if @activity.members.include?(current_user)
        = link_to (image_tag 'logout.png'), join_activity_path(@activity), :remote => true
      - elsif @activity.tenders.include?(current_user)
        = (t "approving")
      - else
        = link_to (image_tag 'join.png'), join_activity_path(@activity), :remote => true
    %span.blog
      = link_to (image_tag 'new-blog.png'), blogs_new_activity_path
    %span.picture
      = link_to (image_tag 'new-pic.png'), pictures_new_activity_path
    .clear
