.blogs
  %span.label.label-info
    = t "Blog"
  %div
    - if @activity.blogs.empty?
      .alert.alert-info
        = link_to 'x', '', :class => 'close', 'data-dismiss' => 'alert'
        = t '.empty'
    = render :partial => 'blogs/blog', :collection => @activity.blogs
  .more.row
    - if @activity.blogs.count>3
      = link_to (t '.more'), activity_blogs_path(@activity), :class => 'btn btn-info span3 offset2'
