.activity.card.box
  .left
    .poster
      = image_tag activity.poster.url(:medium)
    .attention
      = t :like_count, :count => activity.followers.count
      = " "
      = t :join_count, :count => activity.members.count
  .info
    .title= activity.title
    .group
      = activity.group.name
      = "/"
      = l activity.start_at
      = "/"
      = activity.location
    .description
      = activity.description
    .blog
      = t :blog_count, :count => activity.blogs.count
      = " "
      = t :picture_count, :count => activity.pictures.count
  .clear
