.box.detail
  .box-header
    = @activity.title
  .box-body
    .span-8.description
      = simple_format(@activity.description)
    .span-5.colborder
      .group
        = "Group: "
        = link_to @activity.group.name,@activity.group
      .person_in_charge
        = "Admin: "
        = link_to @activity.admins.first.name,@activity.admins.first
      .start_time
        = "Start at: "
        = @activity.start_at
      .end_time
        = "End at: "
        = @activity.end_at
      .location
        = "Location: "
        = @activity.location
      .tags
        = "Tags: "
        = @activity.tag_list
      .members
        = "Joined: "
        = @activity.members.count
      .followers
        = "Followed: "
        = @activity.followers.count
    .clear
.box.detail
  .box-header
    = t(:activity_blogs)
  .box-body
    .clear
.box.detail
  .box-header
    = t(:activity_albums)
  .box-body
    .clear
.box.detail
  .box-header
    = t(:activity_comments)
  .box-body
    = render :partial => "share/comment", :locals => {:object => @activity}
