.box.detail
  .box-header
    = @activity.title
  .box-body
    .span-8.description
      = simple_format(@activity.description)
    .span-5.colborder
      .group
        = "#{t :group}: "
        = link_to @activity.group.name, @activity.group
      .person_in_charge
        = "#{t :admin} "
        = link_to @activity.admins.first && @activity.admins.first.name, @activity.admins.first
      .start_time
        = "#{t :start_at}: "
        = @activity.lstart_at(:default)
      .end_time
        = "#{t :end_at}: "
        = @activity.lend_at(:default)
      .location
        = "#{t :location}: "
        = @activity.location
      .tags
        = "#{t :tags}: "
        = @activity.tag_list
      .members_count
        = "#{t :joined}: "
        = @activity.members.count
      .followers_count
        = "#{t :followed}: "
        = @activity.followers.count
    .clear
-if not @activity.blogs.empty?
  .box.detail
    .box-header
      = t(:activity_blogs)
      = link_to (t :new_blog),blogs_new_activity_path
    .box-body
      %ul.blogs
        = render :partial => "blog", :collection => @activity.blogs
      .clear
-if not @activity.pictures.empty?
  .box.detail
    .box-header
      = t(:activity_albums)
      = link_to (t :new_picture),pictures_new_activity_path
    .box-body
      = render :partial => "picture_gallery", :locals => {:pictures => @activity.pictures}
      .clear
.box.detail
  .box-header
    = t(:activity_comments)
  .box-body.activity
    = render :partial => "share/comments", :locals => {:object => @activity}
