.contact.box
  .box-header
    = t "contact"
  .box-body
    .phone
      = "#{t :phone}: "
      = @activity.admins.first && @activity.admins.first.profile.phone
    .email
      = "#{t :email}: "
      = @activity.admins.first && @activity.admins.first.email
    = @activity.description
