%ul.sort-filter{:class=> params[:filter]=='category' ? 'show-category' : ''}
  %li#filter-all= link_to (t '.all'), activities_path(:sort => params[:sort], :filter => 'all', :anchor => 'filter-all')
  %li.category
    = link_to (t '.category'), "javascript:$('.sort-filter').toggleClass('show-category');"
    %ul
      - Category.all.each do |category|
        %li{:id => 'category-'+category.id.to_s}
          = link_to category.translated_name, activities_path(:sort => params[:sort], :filter => 'category', :id => category.id, :anchor => 'category-'+category.id.to_s)
  %li#filter-like= link_to (t '.like'), activities_path(:sort => params[:sort], :filter => 'like', :anchor => 'filter-like')
  %li#filter-join= link_to (t '.join'), activities_path(:sort => params[:sort], :filter => 'join', :anchor =>'filter-join')
  %li= link_to (t '.wall'), wall_activities_path
  .clear