= form_for [@group, @activity] do |f|
  -if @activity.errors.any?
    #error_explanation
      %h2= "#{pluralize(@activity.errors.count, "error")} prohibited this activity from being saved:"
      %ul
        - @activity.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :group_id
  .field
    = f.label :title, (t :title)
    = f.text_field :title
  .field
    = f.label :description, (t :description)
    = f.text_area :description
  .field
    = f.label :tag_list, (t :tags)
    = f.text_field :tag_list, :class => "tags_input"
  .field
    = f.label :start_at, (t :start_at)
    = f.datetime_select :start_at
  .field
    = f.label :end_at, (t :end_at)
    = f.datetime_select :end_at
  .field
    = f.label :location, (t :location)
    = f.text_field :location
  .field
    = f.label :public, (t :public)
    = f.check_box :public
  .field
    = f.label :poster, (t '.poster')
    = f.file_field :poster
  .field
    = f.label :banner, (t '.banner')
    = f.file_field :banner
  .actions
    = f.submit t '.save'
