.info
  .title= link_to activity.title, activity
  .admin
    %span.group-name= link_to activity.group.name, activity.group
    - if board
      %span= t :host
      %span= link_to activity.admin.profile.name, activity.admin.profile
      %span= t :organize
    - else
      %span= "/"
      %span.location= activity.location
  - if board 
    .location
      %span.label= t '.location'
      %span.location= activity.location
  .time
    = t "time:", :start_time => (l activity.start_at), :end_time => (l activity.end_at)
  .description
    = activity.description
  .additions
    = link_to (t :blog_count, :count => activity.blogs.count), activity_blogs_path(activity)
    = " "
    = link_to (t :picture_count, :count => activity.pictures.count), activity_pictures_path(activity)
.clear
