.poster.box
  .box-body
    = image_tag @activity.poster.url(:medium)
.contact.box
  .box-header
    = "Contact"
  .box-body
.attendant.tricol-list.box
  .box-header
    = "Attendants"
  .box-body
    %ul
      = render :partial => "users/thumb", :collection => @activity.users
    .clear
  .more
    = link_to "more", "#"
    .clear
