.poster.box
  .box-body
    = image_tag @activity.poster.url(:medium)
.contact.box
  .box-header
    = "Contact"
  .box-body
    .phone
      = "Phone: "
      = @activity.admins.first.profile.phone
    .email
      = "Email: "
      = @activity.admins.first.email
    = @activity.description
.attendant.tricol-list.box
  .box-header
    = "Attendants"
  .box-body
    %ul
      = render :partial => "users/thumb", :collection => @activity.users
    .clear
  .more
    = link_to "more", "#"
    .clear
