= link_to (t 'share.navi.home'), home_path
- if @group.nil?
  = link_to (t 'share.navi.group'), groups_path
- else
  = link_to (t '.group'), group_path(@group)
= link_to (t 'share.navi.activity'), activities_path
- if (can? :admin, @group) && @activity.nil?
  = link_to (t 'activities.new.title'), new_group_activity_path(@group)
- if can? :admin, @activity
  = link_to (t 'activities.edit.title'), edit_group_activity_path(@group, @activity)
  = link_to (t 'blogs_list'), activity_blogs_path(@activity)
  = link_to (t 'albums_list'), activity_albums_path(@activity)