.secondary
  %ul
    %li.first= link_to (t :activities_all), activities_path(:sort => "all")
    - if @activity and not @activity.id.nil?
      %li= link_to (t :activity_blogs), activity_blogs_path(@activity)
      %li= link_to (t :activity_albums), activity_albums_path(@activity)
  - if can? :admin, @activity
    %ul
      %li.first= t :administrate
      %li= link_to (t '.edit'), edit_group_activity_path(@group, @activity)
      %li= link_to (t 'new_blog'), new_activity_blog_path(@activity)
      %li= link_to (t 'new_picture'), new_activity_picture_path(@activity)
  .clear
