.side.span2
  .poster
    = link_to (image_tag activity.card), activity
  .role
    = activity.role(current_user) if activity.members.include?(current_user)
  .like-join
    - unless activity.members.include?(current_user)
      = render :partial => 'activities/like', :locals => { :activity => activity }
    - unless activity.members.include?(current_user)
      = render :partial => 'activities/join', :locals => { :activity => activity }
  .location
    %span= t '.location'
    %span= activity.location
  .time
    .begin
      %span= t '.begin'
      %span= l activity.start_at, :format => :short
    .end
      %span= t '.end'
      %span= l activity.end_at, :format => :short
