.day-ranking.box
  .box-header
    = "24h Ranking"
  .box-body
    -@daily_rank && @daily_ranks.each do |rank|
      .rank
        = rank.award
        = rank.name
.month-ranking.box
  .box-header
    = "Month Ranking"
  .box-body
    -@weekly_ranks && @weekly_ranks.each do |rank|
      .rank
        = rank.award
        = rank.name
.semester-ranking.box
  .box-header
    = "Semester Ranking"
  .box-body
    = "XXXX"
    = "XXXX"
    = "XXXX"
    = "XXXX"
    = "XXXX"
