.side
  .poster
    = image_tag activity.poster.url(:medium)
  .like-join
    = t :like_count, :count => activity.followers.count
    = " "
    = t :join_count, :count => activity.members.count
  - if board
    .join
      = link_to (t :join), join_activity_path(activity)
