.side
  .poster
    = link_to (image_tag activity.poster.url(:medium)), activity
  .role
    = activity.role(current_user) if activity.persons.include?(current_user)
  .like-join
    - unless activity.persons.include?(current_user)
      = render :partial => 'activities/like', :locals => { :activity => activity }
      = "|"
    - unless activity.admin == current_user
      = render :partial => 'activities/join', :locals => { :activity => activity }
  .location
    %span.label= t '.location'
    %span.field= activity.location
  .time
    .begin
      %span.label= t '.begin'
      %span.field= l activity.start_at, :format => :short
    .end
      %span.label= t '.end'
      %span.field= l activity.end_at, :format => :short
