.day-ranking.box
  .box-header
    = "24h Ranking"
  .box-body
    = render :partial => "share/rank", :locals => { :ranks => @daily_ranks }
.month-ranking.box
  .box-header
    = "Month Ranking"
  .box-body
    = render :partial => "share/rank", :locals => { :ranks => @weekly_ranks }
.semester-ranking.box
  .box-header
    = "Semester Ranking"
  .box-body
    = render :partial => "share/rank", :locals => { :ranks => @weekly_ranks }
