.day-ranking.box
  .box-header
    = "24h Ranking"
  .box-body
    = "XXXX"
    = "XXXX"
    = "XXXX"
    = "XXXX"
    = "XXXX"
.month-ranking.box
  .box-header
    = "Month Ranking"
  .box-body
    = "XXXX"
    = "XXXX"
    = "XXXX"
    = "XXXX"
    = "XXXX"
.semester-ranking.box
  .box-header
    = "Semester Ranking"
  .box-body
    = "XXXX"
    = "XXXX"
    = "XXXX"
    = "XXXX"
    = "XXXX"
