.side
  .poster
    = image_tag activity.poster.url(:medium)
  .like-join
    = t :like_count, :count => activity.followers.count
    = " "
    = t :join_count, :count => activity.members.count
  - if board
    = render :partial => 'activities/join', :object => activity, :as => :activity
    = render :partial => 'activities/like', :object => activity, :as => :activity
