<h1>Listing activities</h1>

<table>
  <tr>
    <th>Group</th>
    <th>Title</th>
    <th>Description</th>
    <th>Start at</th>
    <th>End at</th>
    <th>Location</th>
    <th>Public</th>
    <th>Poster file name</th>
    <th>Poster content type</th>
    <th>Poster file size</th>
    <th>Poster updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.group %></td>
    <td><%= activity.title %></td>
    <td><%= activity.description %></td>
    <td><%= activity.start_at %></td>
    <td><%= activity.end_at %></td>
    <td><%= activity.location %></td>
    <td><%= activity.public %></td>
    <td><%= activity.poster_file_name %></td>
    <td><%= activity.poster_content_type %></td>
    <td><%= activity.poster_file_size %></td>
    <td><%= activity.poster_updated_at %></td>
    <td><%= link_to 'Show', activity %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Destroy', activity, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity', new_activity_path %>
