= simple_form_for @activity, :html => {:class => 'form-horizontal'} do |f|
  = f.hidden_field :group_id
  %fieldset
    %legend
      = t '.title'
    = f.input :title
    = f.input :tag_list, :input_html => {:class => "tags_input"}
    = f.input :start_at, :input_html => {:class => 'span1'}
    = f.input :end_at, :input_html => {:class => 'span1'}
    = f.input :location, :class => 'span4'
    = f.input :public
    = f.input :poster
    = f.input :description, :input_html => {:class => 'span4', :rows => 10}
    .form-actions
      %button.btn.btn-primary{:type => 'submit'}
        = t '.new'
      %a.btn{:href => group_path(@group)}
        = t '.cancel'