= form_for [@group, @activity], :html => {:class => 'form-horizontal'} do |f|
  %fieldset
    %legend
      = t '.title'
    .control-group
      = f.label :title, (t :title), :class => 'control-label'
      .controls
        = f.text_field :title
    .control-group
      = f.label :tag_list, (t :tags), :class => 'control-label'
      .controls
        = f.text_field :tag_list, :class => "tags_input"
    .control-group
      = f.label :start_at, (t :start_at), :class => 'control-label'
      .controls
        = f.datetime_select :start_at
    .control-group
      = f.label :end_at, (t :end_at), :class => 'control-label'
      .controls
        = f.datetime_select :end_at
    .control-group
      = f.label :location, (t :location), :class => 'control-label'
      .controls
        = f.text_field :location
    .control-group
      = f.label :public, (t :public), :class => 'control-label'
      .controls
        = f.check_box :public
    .control-group
      = f.label :poster, (t '.poster'), :class => 'control-label'
      .controls
        = f.file_field :poster
    .control-group
      .controls
        = f.text_area :description
    -if @activity.errors.any?
      #error_explanation
        %h2= "#{pluralize(@activity.errors.count, "error")} prohibited this activity from being saved:"
        %ul
          - @activity.errors.full_messages.each do |msg|
            %li= msg
    = f.hidden_field :group_id
    .form-actions
      %button.btn.btn-primary{:type => 'submit'}
        = t '.new'
      %button.btn
        = t '.cancel'
