<p id="notice"><%= notice %></p>

<p>
  <b>Group:</b>
  <%= @activity.group %>
</p>

<p>
  <b>Title:</b>
  <%= @activity.title %>
</p>

<p>
  <b>Description:</b>
  <%= @activity.description %>
</p>

<p>
  <b>Start at:</b>
  <%= @activity.start_at %>
</p>

<p>
  <b>End at:</b>
  <%= @activity.end_at %>
</p>

<p>
  <b>Location:</b>
  <%= @activity.location %>
</p>

<p>
  <b>Public:</b>
  <%= @activity.public %>
</p>

<p>
  <b>Poster file name:</b>
  <%= @activity.poster_file_name %>
</p>

<p>
  <b>Poster content type:</b>
  <%= @activity.poster_content_type %>
</p>

<p>
  <b>Poster file size:</b>
  <%= @activity.poster_file_size %>
</p>

<p>
  <b>Poster updated at:</b>
  <%= @activity.poster_updated_at %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
