.container
  .toptitle
    %h1
      %a 北大社团平台
  .toptitle
    %h1
      %a pku.9org.com.cn
  .toplink
    %br/
    %a 首页
    %a 帮助
    %a 更多
  %hr/
  = render :partial => "groups/sidebar"
  .span-15.push-1
    %div{:id => "right-top hide"}
      .actheader
        %h2= @activity.title
      #actinfoindetail
        #actcontent
          %p= image_tag @activity.poster.url(:thumb)
          .actdescription=@activity.description
        #actholder
          主办社团：
          = link_to @group.name, @group
          %br/
          负责人：
          - @activity.admins.each do |admin|
            = link_to admin.name, admin
          %br/
          开始时间：
          = format_datetime @activity.start_at
          %br/
          结束时间：
          = format_datetime @activity.end_at
          %br/
          地点：
          = # @activity.place
          %br/
          类型：讲座
        #actlink
          - if @activity.members.include?(current_user)
            = link_to "退出",join_activity_path(@activity),:class=> "aborder"
          -else
            =link_to "参加",join_activity_path(@activity),:class=> "aborder"
          -if @activity.followers.include?(current_user)
            =link_to "不喜欢",like_activity_path(@activity),:class=> "aborder"
          -else
            =link_to "喜欢",like_activity_path(@activity),:class=> "aborder"
          %a.aborder 评论
      / end of right-top
      #actdetail
        .header
          %a 活动详情
          %ul
            %li 文章
            %li 相册
            %li 评论
        %div
          / 这里要js，先用静态的顶上
          .actlist
            .left
              %a> JohnGalt
              发表了文章
              %a 讲座笔记～～
            .right
              %a 评论(10)
              \&nbsp; 2011年11月02日
            .actdet
              %p
                我的性格类型倾向为" INFP "(内向 直觉 情感 知觉 倾向度： I100 N86 F71 P71)
                结果显示，我是"理想主义者，忠于自己的价值观及自己所重视的人。外在的生活与内在的价值观配合，有好奇心，很快看到事情的可能与否，能够加速对理念的实践。试图了解别人、协...
                %a 详情>>
          .actlist
            .left
              %a> JohnGalt
              发表了文章
              %a 讲座笔记～～
            .right
              %a 评论(10)
              \&nbsp; 2011年11月02日
            .actdet
              %p
                我的性格类型倾向为" INFP "(内向 直觉 情感 知觉 倾向度： I100 N86 F71 P71)
                结果显示，我是"理想主义者，忠于自己的价值观及自己所重视的人。外在的生活与内在的价值观配合，有好奇心，很快看到事情的可能与否，能够加速对理念的实践。试图了解别人、协...
                %a 详情>>
          .actlist
            .left
              %a> JohnGalt
              发表了文章
              %a 讲座笔记～～
            .right
              %a 评论(10)
              \&nbsp; 2011年11月02日
            .actdet
              %p
                我的性格类型倾向为" INFP "(内向 直觉 情感 知觉 倾向度： I100 N86 F71 P71)
                结果显示，我是"理想主义者，忠于自己的价值观及自己所重视的人。外在的生活与内在的价值观配合，有好奇心，很快看到事情的可能与否，能够加速对理念的实践。试图了解别人、协...
                %a 详情>>
          .actlist
            .left
              %a> JohnGalt
              发表了文章
              %a 讲座笔记～～
            .right
              %a 评论(10)
              \&nbsp; 2011年11月02日
            .actdet
              %p
                我的性格类型倾向为" INFP "(内向 直觉 情感 知觉 倾向度： I100 N86 F71 P71)
                结果显示，我是"理想主义者，忠于自己的价值观及自己所重视的人。外在的生活与内在的价值观配合，有好奇心，很快看到事情的可能与否，能够加速对理念的实践。试图了解别人、协...
                %a 详情>>
          .actlist
            .left
              %a> JohnGalt
              发表了文章
              %a 讲座笔记～～
            .right
              %a 评论(10)
              \&nbsp; 2011年11月02日
            .actdet
              %p
                我的性格类型倾向为" INFP "(内向 直觉 情感 知觉 倾向度： I100 N86 F71 P71)
                结果显示，我是"理想主义者，忠于自己的价值观及自己所重视的人。外在的生活与内在的价值观配合，有好奇心，很快看到事情的可能与否，能够加速对理念的实践。试图了解别人、协...
                %a 详情>>
          %a.right 浏览更多>>
    #activity_members
      .header
        %a.title 参加活动者
      .member_list.clearfix
        %ul
          - @activity.members.each do |member|
            %li
              .amember
                .memberpic
                  = image_tag member.avatar
                = link_to member.name, member
