= form_tag members_edit_activity_path do 
  %table
    %thead
      %th= t "name"
      %th= t "nickname"
      %th= t "student_id"
      %th= t "user_group_status"
      %th= t "user_activity_status"
    %tbody
      - @tenders && @tenders.each do |tender|
        %tr
          %td= tender.profile.name
          %td= tender.name
          %td= tender.profile.student_id
          %td
            - if @group.members.include?(tender)
              = t "member"
            - else
              = t "nonmember"
          %td= select "pre_tender", "#{tender.id}", { (t "approving") => Constant::Approving, (t "member") => Constant::Member, (t "reject") => Constant::Rejected }
      -@members && @members.each do |member|
        %tr
          %td= member.profile.name
          %td= member.name
          %td= member.profile.student_id
          %td
            - if @group.members.include?(member)
              = t "member"
            - else
              = t "nonmember"
          %td= select "pre_member", "#{member.id}", { (t "member") => Constant::Member, (t "kick_ass") => Constant::Rejected}
  = submit_tag t 'confirm_change'
