.applicants-table
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th
          =t 'profiles.edit.name'
        %th
          =t 'profiles.edit.realname'
        %th
          =t '.approve'
    %tbody
      - @circle.users.each do |user|
        %tr{:id=>"user-#{user.id}"}
          %td
            .hide= user.profile.pyname.split(' ').collect{|w|w[0]}.join
            .hide= user.profile.pyname.delete ' '
            = link_to user.profile.name, user
          %td
            = user.profile.realname
            .hide= Hz2py.do(user.profile.realname)
          %td
            .btn-group
              %a{:href=>circles_path+"/approve/#{user.id}", "data-method"=>:post, :class=>'btn btn-primary', "data-remote"=>true} 
                %i.icon-ok
              %a{:href=>circles_path+"/reject/#{user.id}", "data-method"=>:post, :class=>'btn btn-danger', "data-remote"=>true} 
                %i.icon-remove
