.title= t '.title', :owner => owner.name, :name =>t("circles."+@circle.name)
.circle-users.box
  .select_users
    = form_for @circle,:url=>circle_path(@circle) do |f|
      = select_tag("users[]", options_for_select(@circle.owner.members.collect {|cc| [cc.name, cc.id]}.uniq, @circle.users.collect{|cs| cs.id}.uniq),{:multiple=>true, :class=> "multi-select-box",:id=>"multi-select-#{@circle.id}"})
      .button-wrapper
        = f.submit (t ".update")