.circle-users.box
  .title= t '.title'
  .users-table
    %table
      %thead
        %tr
          %th
          %th=t '.user-name'
          %th=t '.user-phone'
          %th
      %tbody
        - @users.each do |user|
          %tr
            %td.pic= link_to image_tag(user.url), user
            %td.user-name= link_to user.profile.name, user
            %td.user-phone= link_to user.profile.phone
            %td
              = form_tag "users/#{user.id}", :remote=>true do
                = select_tag("circles[]", options_for_select(@circles.collect {|cc| [cc.name, cc.id]}, user.belonged_circles.collect{|cs| cs.id}),{:multiple=>true, :class=> "multi-select",:id=>"multi-select-#{user.id}"})