!!!
%html
  %head
    %title Platform
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'share/flashes'
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand
            = t '.brand'
          %ul.nav
            %li
              = link_to t(".home"), home_path
            %li
              = link_to t('.groups'), groups_path
            %li
              = link_to t('.activities'), activities_path
            %li.dropdown
              %a.dropdown-toggle{:href => "#", 'data-toggle' => 'dropdown'}
                = @activity.name
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to t('.activity'), @activity
                %li.divider
                %li.nav-header
                  = t '.info'
                %li
                  = link_to t('.users'), activity_circles_path(@activity)
                %li
                  = link_to t('.blogs'), activity_blogs_path(@activity)
                %li
                  = link_to t('.albums'), activity_albums_path(@activity)
                %li.divider
                %li
                  = link_to t('.group'), group_path(@activity.group)
          = render 'layouts/lang'
          = render 'layouts/toolbar'
          = render 'layouts/search'
    .container.activities.show.white
      .row
        .span7.offset1
          = yield
        .span3.offset1
          .sidebar
            = render 'users/card'
            - if can? :admin, @activity
              = render 'activities/toolbar'
            - else
              = render 'activities/navbar'

