!!!
%html
  %head
    %title Platform
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #header
    #container
      - if params[:controller]=='users' || params[:controller]=='profiles'
        = render 'profiles/secondary'
      - if params[:controller]=='groups'
        = render 'groups/secondary'    
      - if params[:controller]=='activities'
        = render 'activities/secondary'
      .content
        = yield
        .clear
      .sidebar
        - if user_signed_in?
          = render 'users/card' 
        - else
          = render 'devise/sessions/new'
        = render 'share/links'
        .clear
