!!!
%html
  %head
    %title Platform
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #header
    %table
      %tr
        %td
          .content
            = yield
            .clear
        %td.right
          .sidebar
            - if user_signed_in?
              = render 'users/card' 
            - else
              = render 'sessions/new'
