!!!
%html
  %head
    %title Platform
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #header
    #container
      = render "#{secondary_scope}/secondary" if secondary_scope
      .content
        = yield
        .clear
      .sidebar
        - if user_signed_in?
          = render 'users/card' 
        - else
          = render 'devise/sessions/new'
        = render 'share/links'
        .clear
