!!!
%html
  %head
    %title Platform
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #header
    #container
      -if secondary_scope
        = render "#{secondary_scope}/secondary"
        .content
          = yield
          .clear
      -else
        .content.no-secondary
          = yield
          .clear
      .sidebar
        - if user_signed_in?
          = render 'users/card' 
        - else
          = render 'devise/sessions/new'
        = render 'share/links'
        = render 'share/search'
        .clear
