!!!
%html
  %head
    %title Platform
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #notice=flash[:notice]
    #alert=flash[:alert]
    .feedbacks
      = link_to (t "feedback"), new_feedback_path, :class=>:handle
      = form_for @feedback,:remote=>true do |f|
        %p
          %b= t "contact"
          = f.text_field :contact
        %p  
          %b= t "content"
          = f.text_area :content  
        = f.hidden_field :params, :value=>@params
        = f.submit t("new_feedback")
    = yield
