!!!
%html
  %head
    %title Platform
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'share/flashes'
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand
            = t '.brand'
          %ul.nav
            %li
              = link_to t(".home"), home_path
            %li.active
              = link_to t('.groups'), groups_path
            %li
              = link_to t('.activities'), activities_path
            = render 'layouts/backend'
          = render 'layouts/lang'
          = render 'layouts/toolbar'
          = render 'layouts/search'
    .container.groups.index.white
      .row
        .span7.offset1
          = yield
        .span3.offset1
          .sidebar
            = render 'users/card' 
            = render 'share/sidebar'
