!!!
%html
  %head
    %title Platform
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'share/flashes'
    = render 'share/header'
    .container.site.index
      .content
        = yield
      .sidebar
        = render 'devise/sessions/new'
