!!!
%html
  %head
    %title Platform
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.site.index
    = render 'share/navbar'
    .container
      .row
        .span6.offset1
          = yield
        .span3
          .sidebar
            = render 'devise/sessions/new'
            = render 'site/newsfeeds'
